<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MinifierFilePath" value="C:\Program Files (x86)\Microsoft\Microsoft Ajax Minifier 4\ajaxmin.exe"/>
        <add key="MinifierCommand" value="-h -js {0} -o {1} -clobber"/>
        <add key="MinifierHelp" value=""/>
    </appSettings>
</configuration>